.DS_Store
.idea
.bundle/
config.rb
Gemfile.lock
gitignore/
rubocop-results.xml
gems/
/*.rspec_status
*.log
.rakeTasks
.ipynb_checkpoints/
.ruby-version
.vscode
__pycache__
workflow_results
jupyter_notebook/images
jupyter_notebook/TimeseriesData
data/processed
