.DS_Store
.idea
.bundle/
config.rb
Gemfile.lock
gitignore/
rubocop-results.xml
gems/
output/
bdgp_output/
SR1/
/*.rspec_status
*.log
/scripts.txt
/Test_output/
.rakeTasks
.ipynb_checkpoints/
.ruby-version
analysis/tests
cory_test.rb
inputs/building_type_scenarios.json
SRvt/
.vscode
__pycache__
runner.conf